@font-face {
    font-family: Whitney;
    src: url(../fonts/whitneymedium.otf);
    font-weight: normal;
}
@font-face {
    font-family: Whitney;
    src: url(../fonts/whitneysemibold.otf);
    font-weight: bold;
}

.acknowledgement {
    font-family: 'Whitney';
    font-weight: normal;
    text-align: center;
}